<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Our Team</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="icon" href="../static/images/logoo.png" type="image/x-icon">
</head>
<style>
    
</style>
<body>
    <div>
        <div class="topnav" id="myTopnav">
			<div class="logo"> VISUALIZEVIBE</div>
			<nav>
                <a href="/">Home</a>
                <a href="/search">Search </a>
                <a href="/about" class="active">About</a>
			  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
				  <i class="fa fa-bars"></i>
			  </a>
			</nav>
			 
		  </div>
	  </div>


      <section class="team-section">
        <div class="container">
            <div class="model_objective">
                <p>
                    The primary objective of the Interior Design project is to create an innovative and user-friendly platform that enhances the experience of exploring and visualizing interior design concepts. The website aims to achieve the following specific goals:<br/>
                    <h1>
                        Enable Efficient Search of Interior Design Ideas<br/>
                    <br/>
                    </h1>
                    <p>
                        By meeting these objectives, VisualiseVibe aims to become a valuable tool for interior design enthusiasts, professionals, and anyone looking to explore and visualize interior design ideas in a seamless and enjoyable manner.

                    </p>
                    
                </p>
            </div>
            <h1 class="section-title">Meet Our Team</h1>
            <div class="team-cards">
               
               
              
               
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="Team Member Photo" class="card-img">
                    <div class="card-content">
                        <h2 class="card-title">Shaden Khaled</h2>
                        <p class="card-position">Team Leader</p>
                        <p class="card-description">Shaden is machine learning specialist.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="Team Member Photo" class="card-img">
                    <div class="card-content">
                        <h2 class="card-title">Hasnaa Muhammed</h2>
                        <p class="card-position">Team Member</p>
                        <p class="card-description">Hasnaa is machine learning specialist.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="Team Member Photo" class="card-img">
                    <div class="card-content">
                        <h2 class="card-title">Nada Mohamed</h2>
                        <p class="card-position">Team Member</p>
                        <p class="card-description">Nada is machine learning specialist.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="Team Member Photo" class="card-img">
                    <div class="card-content">
                        <h2 class="card-title">Mahmoud Osama</h2>
                        <p class="card-position">Team Member</p>
                        <p class="card-description">Mahmoud is machine learning specialist.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="Team Member Photo" class="card-img">
                    <div class="card-content">
                        <h2 class="card-title">Omar Atef</h2>
                        <p class="card-position">Team Member</p>
                        <p class="card-description">Omar is machine learning specialist.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="Team Member Photo" class="card-img">
                    <div class="card-content">
                        <h2 class="card-title">Ahmed Gamal</h2>
                        <p class="card-position">Team Member</p>
                        <p class="card-description">Ahmed is machine learning specialist.</p>
                    </div>
                </div>
            </div>
        </div>
        <h1>
            Thank You :)
        </h1>
    </section>
</div>
    
<script>
    function toggleMenu() {
        const topnav = document.getElementById("myTopnav");
        topnav.classList.toggle("responsive");
    }
</script>
</body>
</html>
